<h1>My tasks</h1>
<% @tasks.each do |task| %>
<% if task.completed? %>
  <div>
    <i class="far fa-check-square"></i>
    <span><%= link_to task.title, task_path(task) %></span>
    <%= link_to task_path(task), method: :delete, data: { confirm: "Delete #{task.title}" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
  </div>
  <% else %>
  <div>
    <i class="far fa-square"></i>
    <span><%= link_to task.title, task_path(task) %></span>
    <%= link_to task_path(task), method: :delete, data: { confirm: "Delete #{task.title}" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
  </div>
  <% end %>
<br>
<% end %>
<br>
<%= link_to "Add Task", tasks_new_path %>

